body{
    margin: 0;
    overflow: hidden;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.canvas{
    background: #eee;
}
ul li{
    list-style: none;
}
.colors{
    position: fixed;
    right: 240px;
    top: 8px;
}
.colors li{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 7px;
    box-shadow: 0 0 6px rgba(80, 80, 80, 0.8);
    transition: all 0.3s;
}
.colors li.active{
    transform: scale(1.15);
}
.colors .black{
    background: black;
}
.colors .red{
    background: red;
}
.colors .green{
    background: green;
}
.colors .blue{
    background: blue;
}
.size{
    position: fixed;
    top: 8px;
    right: 170px;
    padding: 0;
}
.size li{
    display: inline-block;
    margin-right: 10px;
    width: 0;
    height: 20px;
    transition: all 0.3s;
}
.size li.active{
    transform: scale(1.1);
}
.size .thin{
    border-right: 4px solid black;
}
.size .middle{
    border-right: 6px solid black;
}
.size .thick{
    border-right: 10px solid black;
}
.actions{
    position: fixed;
    right: 40px;
    top: 20px;
}
.actions svg{
    width: 1.5em;
    height: 1.5em;
    margin-left: 5px;
    transition: 0.5s transform;
}
.actions svg.active{
    fill: red;
    transform: scale(1.2);
}